html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary-color);
    font-family: var(--text-font);
    color: var(--text-color);
    scroll-behavior: smooth;
    position: relative;
}
#main-header {
    background-color: var(--white-color);
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    position: fixed;
    padding-left: 10px;
    top: 0;
    width: 100%;
    z-index: 9000;
}
#main-header > a > img {
    width: 70px;
    height: auto;
    cursor: pointer;
    transition: transform 2s ease;
}
@media (min-width: 640px) {
    #main-header > a > img {
        width: 100px;
    }
}

#main-header > a > img:active {
    cursor: grab;
}
#main-header > a > img:hover {
    transform: rotate(1turn);
}

#main-header > h1 {
    margin: auto auto auto 10px;
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 1;
    font-size: 17px;
    color: var(--primary-color);
    text-transform: uppercase;
}

#main-header > h1 > span {
    font-size: 23px;
}

#main-header > h1 > b {
    font-size: 25px;
    font-weight: 700;
}

@media (min-width: 640px) {
    #main-header > h1 {
        font-size: 30px;
    }

    #main-header > h1 > span {
        font-size: 37px;
    }

    #main-header > h1 > b {
        font-size: 42px;
    }
}

#main-header > nav {
    margin: auto;
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

#main-header nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
}

#main-header > nav > ul > li > .menu-item:hover,
#main-header > nav > ul > li > .menu-item.active {
    color: var(--accent-color);
}
#menu_button {
    display: block;
    background: transparent;
    padding: 0px 15px;
    border: 0px solid transparent;
    transform: scale(0.8);
    transition: transform 0.3s;
}

@media (min-width: 1024px) {
    #menu_button {
        display: none;
    }
}

#menu_button:hover {
    cursor: pointer;
    transform: scale(1);
}
#menu_button > svg {
    width: 40px;
    height: 40px;
    fill: var(--accent-color);
}

.menu_button_close {
    display: none;
}

#menu_button.active .menu_button_open {
    display: none;
}

#menu_button.active .menu_button_close {
    display: block;
}

#menu {
    position: fixed;
    top: 0;
    left: -240px;
    height: 100vh;
    width: 240px;
    background-color: var(--accent-color);
    transition: left 0.3s ease;
    z-index: 9999;
}

#menu.active {
    left: 0;
}

#menu > ul {
    list-style-type: none;
    padding: 16px 3px;
}

.menu-item {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px;
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}
.menu-item:hover,
.menu-item.active {
    color: var(--tertiary-color);
}

.menu__close {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    right: 0.3rem;
}

body > main > section,
body > footer {
    padding: 120px 20px 0px 20px;
    position: relative;
    mix-blend-mode: multiply;
}

body > main > section {
    position: relative;
    mix-blend-mode: multiply;
}

body > main > section h4,
body > footer h4 {
    margin-bottom: 1rem;
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    color: var(--primary-color-dark);
    font-variant-caps: small-caps;
}

body > main > section h5 {
    margin: 25px 0 0;
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--primary-color-dark);
    font-variant-caps: small-caps;
}

.content_text {
    margin-bottom: 2rem;
    font-family: var(--text-font);
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.2rem;
    color: var(--text-color);
}

@media (min-width: 800px) {
    .content_text {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    .content_text {
        max-width: 60%;
    }
}

.content_img {
    max-height: 240px;
    width: auto;
    opacity: 0;
    position: relative;
    bottom: -20px;
    transition: all 1.5s ease-in-out;
}
.content_img--loaded {
    opacity: 1;
    bottom: 0;
}
.content_img--border {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border: 10px solid var(--brokenwhite-color);
}

@media (min-height: 420px) {
    .content_img {
        max-height: 380px;
    }
}

@media (min-width: 800px) {
    .content_img {
        position: absolute;
        z-index: -1;
        max-width: 30%;
        left: 68%;
        top: 100px;
    }
    .content_img--loaded {
        top: 80px;
    }
}
@media (min-width: 1024px) {
    .content_img {
        max-width: 36%;
        left: 62%;
    }
}

.content_wrapper {
    max-width: 1200px;
    margin: auto;
}

.button {
    color: var(--accent-color);
    text-decoration: none;
    border: 3px solid var(--accent-color);
    border-radius: 6px;
    background-color: #f9fdea33;
    transition: background-color 0.6s;
}

.button:hover {
    background-color: #f9fdea99;
}

.li_custombullets {
    list-style: none;
    padding: 0;
}

.li_custombullets li {
    padding-left: 1rem;
    text-indent: -0.7rem;
    margin-bottom: 1rem;
}

.li_custombullets li::before {
    content: "💚 ";
}

#carousel {
    min-height: auto;
}

#main-hero {
    min-height: auto;
    padding: 70px 0 0;
    position: relative;
    overflow: hidden;
}
@media (min-width: 640px) {
    #main-hero {
        padding: 102px 0 0;
    }
}

#main-hero > video {
    position: absolute;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

.main-hero-gradient {
    position: absolute;
    z-index: -1;
    width: 120%;
    height: 120%;
    left: -20%;
    top: -20%;
    opacity: 0.7;
    background-color: var(--secondary-color);
    background-image: radial-gradient(
            at 80% 100%,
            var(--primary-color-light) 0px,
            transparent 50%
        ),
        radial-gradient(at 0% 0%, hsla(351, 40%, 61%, 1) 0px, transparent 50%);
    animation: gradient_animation 6s ease infinite;
}

@keyframes gradient_animation {
    0% {
        left: -20%;
        top: -20%;
    }
    50% {
        left: 0;
        top: 0;
    }
    100% {
        left: -20%;
        top: -20%;
    }
}

#main-hero .hero_text {
    text-align: center;
    padding: 2rem 0;
    color: var(--accent-color);
}

#main-hero .hero_text > * {
    text-shadow: 2px 2px 12px var(--tertiary-color),
        -2px 2px 12px var(--tertiary-color);
    font-family: var(--title-font);
}

#main-hero .hero_text h2 {
    color: var(--primary-color-dark);
    font-variant: small-caps;
    font-size: 2.6rem;
    line-height: 1;
}

#main-hero .hero_text p {
    color: var(--primary-color-dark);
    font-size: 1.8rem;
    line-height: 1;
    padding-bottom: 2rem;
}

#main-hero .hero_text a {
    margin-top: 1rem;
    font-size: 1.4rem;
    padding: 0.2rem 1.2rem;
}

@media (min-width: 1024px) {
    #main-hero .hero_text {
        padding: 4rem 0;
    }

    #main-hero .hero_text h2 {
        font-size: 4.2rem;
    }

    #main-hero .hero_text p {
        font-size: 2.8rem;
        padding-bottom: 3rem;
    }

    #main-hero .hero_text a {
        font-size: 2.2rem;
    }
}

#main-about_us {
    padding-top: 40px;
}

#main-pizzas {
    background-color: var(--primary-color-light);
}

#main-footer {
    background-color: var(--secondary-color);
    padding-bottom: 200px;
}

.main-footer-gradient-bottom {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, var(--accent-color), transparent);
    mix-blend-mode: normal;
}

.polaroid {
    background-color: var(--brokenwhite-color);
    padding: 5% 5% 10%;
    box-sizing: content-box;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
    cursor: pointer;
}

.glide--swipeable .polaroid {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.polaroid_title {
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.front .polaroid_title {
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 1rem;
}

.polaroid_link {
    font-family: var(--title-font);
    font-weight: 400;
    line-height: 1.6rem;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.polaroid_link:hover,
.polaroid_link:hover span {
    text-decoration: underline;
    cursor: pointer;
}

.polaroid_link span {
    display: none;
}
@media (min-width: 1440px) {
    .polaroid_link span {
        display: inline-block;
    }
}

.polaroid ul {
    padding: 5px 0 0 16px;
}

.polaroid ul > li {
    font-family: var(--text-font);
    font-weight: 600;
    line-height: 1.6;
    font-size: 1rem;
}

.polaroid ul > li::marker {
    content: "\2714 ";
    font-size: 0.8rem;
    color: var(--primary-color);
}

#footer_cols {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 16px;
}

@media (min-width: 1024px) {
    #footer_cols {
        flex-direction: row;
        justify-content: space-between;
    }
}

#footer_cols > * {
    flex-grow: 1;
    flex-basis: 0;
}

#footer_cols .content_text {
    max-width: 96%;
}

#footer_form {
    display: flex;
    justify-content: center;
}

#footer_social a {
    padding: 6px 0;
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.5s;
}

#footer_social a img {
    height: 40px;
}

#footer_social a span {
    font-size: 1.25rem;
    line-height: 40px;
}

#footer_social a:hover {
    color: var(--accent-color);
}

#footer_social a:active {
    transition: all 0.5s;
}

.title-font {
    font-family: var(--title-font);
}
.text-primary {
    color: var(--primary-color);
}
.text-accent {
    color: var(--accent-color);
}
.font-variant-logo {
    font-variant: small-caps;
    font-style: normal;
}

.full-width-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.width-display {
    font-size: 50%;
    position: absolute;
    right: 1em;
    display: block;
    top: 1em;
}

details {
    interpolate-size: allow-keywords;
    overflow: clip;
    color: var(--text-color);
}

details summary {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0.5em 0;
    color: var(--text-color);
}

details > summary::after {
    content: "\25BC";
}

details[open] > summary {
    display: none;
}

details[open]::details-content {
    height: auto;
}

details::details-content {
    height: 0;
    overflow-y: clip;
    transition: content-visibility 475ms allow-discrete, height 475ms;
}

details main {
    padding: 0 2.2em 1em;
}

#details_form {
    border-radius: 5px;
}

#details_form[open] {
    background-color: var(--brokenwhite-color);
}

.gradient-container {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: color-dodge;
}

.gradient-container--yellow {
    border-top: 10px solid var(--tertiary-color);
    background: linear-gradient(180deg, var(--tertiary-color), transparent);
}

.gradient-container--green {
    border-top: 10px solid var(--primary-color-light);
    background: linear-gradient(
        180deg,
        var(--primary-color-light),
        transparent
    );
    filter: none;
}

.fslightbox-container {
    background: rgba(163, 62, 77, 0.8) !important;
}
.fslightboxb {
    background: var(--accent-color) !important;
}
.fslightbox-container video {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border: 10px solid var(--brokenwhite-color);
}
:root {
    --primary-color: #379184;
    --primary-color-light: #89d2c7;
    --primary-color-dark: #1a413b;
    --secondary-color: #daa058;
    --tertiary-color: #f7ffdd;
    --text-color: #28343e;
    --accent-color: #a33e4d;
    --brokenwhite-color: #f9fdea;
    --white-color: #fff;

    --title-font: "Kavivanar", "Averia Libre", serif;
    --text-font: "Kavivanar", "Averia Libre", serif;
    /*--text-font: "Lato", serif;*/
}
