body{
    background-color: var(--tertiary-color);
    font-family: "Lato", serif;
}
#main-header{
    background-color: #fff;
    display: flex;
}
#main-header>a>img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#main-header>a>img:active{
    cursor: grab;
}
#main-header>h1{
    margin: auto auto auto 20px;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    line-height: 1;
    font-size: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
}
#main-header>h1>b{
    font-size: 46px;
    font-weight: 500;
}
#main-header>nav{
    margin-left:auto;
}

#menu_button>span{
    font-size: 40px;
    color: var(--accent-color) ;
}
#menu_button{
    background: transparent;
    padding: 0px 15px;
    border: 0px solid transparent;
    transition: transform 0.3s;
}
#menu_button:hover{
    cursor: pointer;
    transform: scale(1.1);

}



#menu {
    position: fixed;
    top: 0;
    left: -250px; /* Initially off-screen */
    height: 100vh;
    width: 250px; /* Adjust as needed */
    background-color: var(--primary-color-dark);
    transition: left 0.3s ease; /* Only transition the left property */
    z-index: 1000; /* Ensure it's above other content */
}


#menu.active {
    left: 0; /* Slide the menu into view */
}

#menu>ul{
    list-style-type: none;
    padding: 16px 3px;
}

/* Example styling for menu items */
.menu-item {
    font-size: 1.6rem;
    padding: 10px;
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}
.menu-item:hover {
    color: var(--tertiary-color);
}

:root{
    --primary-color: #379184;
    --primary-color-light: #89D2C7;
    --primary-color-dark: #112C28;
    --secondary-color: #DBA159;
    --tertiary-color: #F7FFDD;
    --text-color: #28343E;
    --accent-color: #A33E4D;
}