html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary-color);
    font-family: "Lato", serif;
    scroll-behavior: smooth;
    position: relative;
}
#main-header {
    background-color: #fff;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}
#main-header > a > img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#main-header > a > img:active {
    cursor: grab;
}
#main-header > h1 {
    margin: auto auto auto 20px;
    font-family: "Kavivanar", "Averia Libre", serif;
    font-weight: 700;
    line-height: 1;
    font-size: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    transition: transform 4s ease;
}

#main-header > h1:hover {
    transform: rotate(5turn);
}

#main-header > h1 > b {
    font-size: 43px;
    font-weight: 500;
}

#main-header > h1 > span {
    font-size: 37px;
}

#main-header > nav {
    margin: auto;
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

#main-header nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
}

#main-header > nav > ul > li > .menu-item:hover {
    color: var(--accent-color);
    @media (orientation: portrait) {
        color: var(--primary-color-dark);
    }
}

/* #main-header nav>ul>li{
    
} */
#menu_button {
    background: transparent;
    padding: 0px 15px;
    border: 0px solid transparent;
    transition: transform 0.3s;
    display: block;
}

@media (min-width: 1024px) {
    #menu_button {
        display: none;
    }
}

#menu_button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#menu_button > svg {
    width: 40px;
    height: 40px;
    fill: var(--accent-color);
}

.menu_button_close {
    display: none;
}

#menu_button.active .menu_button_open {
    display: none;
}

#menu_button.active .menu_button_close {
    display: block;
}

#menu {
    position: fixed;
    top: 0;
    left: -250px; /* Initially off-screen */
    height: 100vh;
    width: 250px; /* Adjust as needed */
    background-color: var(--primary-color-dark);
    transition: left 0.3s ease; /* Only transition the left property */
    z-index: 9999; /* Ensure it's above other content */
}

#menu.active {
    left: 0; /* Slide the menu into view */
}

#menu > ul {
    list-style-type: none;
    padding: 16px 3px;
}

/* Example styling for menu items */
.menu-item {
    font-size: 1.6rem;
    padding: 10px;
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}
.menu-item:hover {
    color: var(--tertiary-color);
}

body > main > section {
    min-height: 100dvh;
    padding: 20px;
}

#carousel {
    min-height: auto;
}

#main-hero {
    min-height: auto;
    padding: 0;
}

#main-pizzas {
    background-color: var(--primary-color-light);
}

#main-footer {
    background-color: var(--secondary-color);
}

.polaroid {
    background-color: white;
    padding: 5% 5% 10%;
    box-sizing: content-box;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.polaroid_title {
    position: absolute;
    bottom: 0;
    left: 5%;
    font-family: "Kavivanar", "Averia Libre", serif;
    font-weight: 700;
    line-height: 1.6rem;
    font-size: 1rem;
}

.polaroid:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:root {
    --primary-color: #379184;
    --primary-color-light: #89d2c7;
    --primary-color-dark: #112c28;
    --secondary-color: #dba159;
    --tertiary-color: #f7ffdd;
    --text-color: #28343e;
    --accent-color: #a33e4d;
}
