<!-- Shantiko -->
<section id="main-shantiko" class="menu_section">
    <div class="gradient-container gradient-container--green"></div>
    <div class="content_wrapper">
        <h4>{{ t.shantiko.heading }}</h4>
        <p class="content_text">
            {{ t.shantiko.p1 }}

            <img
                data-src="media/images/shantiko_logo.gif"
                alt="Shantiko PIZZAS"
                class="content_img"
            />
        </p>
        <p class="content_text">{{ t.shantiko.p2 }}</p>
        <p class="content_text">{{ t.shantiko.p3 | safe }}</p>
        <details>
            <summary class="content_text text-accent">
                {{ t.shantiko.more_label }}
            </summary>
            <p class="content_text">{{ t.shantiko.p4 | safe }}</p>
            <p class="content_text">{{ t.shantiko.p5 | safe }}</p>
            <p class="content_text">{{ t.shantiko.p6 }}</p>
            <p class="content_text">{{ t.shantiko.p7 | safe }}</p>
        </details>
    </div>
</section>
