<!-- Hecho con cariño desde Banyoles y Hendaya.-->
<!--Por Martín y Artur.-->

<!doctype html>
<html lang="{{ t.lang }}">
    <head>
        <title>{{ t.site.title }}</title>
        <meta charset="UTF-8" />
        <meta name="description" content="{{ t.site.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="icon"
            type="image/png"
            href="/media/images/shantiko_logo.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" type="text/css" href="/style/reset.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Kavivanar&display=swap"
        />
        <link rel="stylesheet" type="text/css" href="/style/fonts.css" />
        <link rel="stylesheet" type="text/css" href="/style/styles.css" />
        <link rel="stylesheet" type="text/css" href="/style/flip_card.css" />

        <!-- Required Core Stylesheet -->
        <link rel="stylesheet" href="/lib/glide/glide.core.min.css" />
        <!-- Optional Theme Stylesheet -->
        <link rel="stylesheet" href="/lib/glide/glide.theme.min.css" />
    </head>

    <body>
        {{ content | safe }}

        <!-- Seccion scripts -->
        <script src="/lib/glide/glide.min.js"></script>
        <script src="/lib/lightbox/fslightbox.js"></script>
        <script src="/scripts/scripts.js"></script>
    </body>
</html>

