---
layout: layouts/base.njk
---
{% include "components/header.njk" %}
<main>
    {% include "sections/_hero.njk" %}
    {% include "sections/_about-us.njk" %}
    {% include "sections/_pizzas.njk" %}
    {% include "sections/_shantiko.njk" %}
</main>
{% include "components/footer.njk" %}
