---
permalink: index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0; url=/es/" />
        <link rel="canonical" href="/es/" />
        <title>ShantiKo PIZZAS</title>
    </head>
    <body>
        <p><a href="/es/">ShantiKo PIZZAS</a></p>
    </body>
</html>
